<div class="row">
  <div class="col-md-6 buffer-top">
    <%= form_with url: event_path(@event), method: :get do |f| %>
      <%= render partial: 'partials/form_errors', locals: {model: @event} %>

      <div class="form-group">
        <%= f.label I18n.t( 'activerecord.attributes.event.password' ) %>
        <%= f.text_field :password, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit 'Подтвердить', class: 'btn btn-primary' %>
        или <%= link_to 'вернуться', :back %>
      </div>
    <% end %>
  </div>
</div>